*{
   margin: 0px;
   padding: 0px;

}
body{
   background-color: #F5F5F5;
   font-family: Arial, Helvetica, sans-serif;
}
.navbar-wrapper{
   background-color: #FFFFFF;
}

.navbar{
   max-width: 1000px;
   margin: 0 auto;   
   height: 40.95px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px;
}

.menu{margin: 0 auto;
   padding-top: 6.95px;
   gap: 20px;
   height: 32.95px;
 
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo{
   align-items: center;
   display: flex;
   
}
.logo img{
   width: 150px;
}

.dbtn{
   display: flex;
   gap: 10px;
}
.dbtn button{
   padding: 10px;
   padding-left: 10px;
   padding-right: 10px;
   width: 100px;
   justify-content: center;
   border: none;
   display: flex;
   align-items: center;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;

}
.dbtn button:first-child{
border: 2px solid #545BE8;
color: #545BE8 ;
background-color: #FFFFFF;
}

.dbtn button:last-child{
   color: #FFFFFF;
   background-color: #545BE8 ;
   }
   .main-section{
      display: flex;
      max-width: 1000px;
      margin: 0 auto;
      padding-top: 50px;

   }
   .main-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
   .main-left p:first-child{
      color: #545BE8;
   }

   .main-left p:nth-child(3){
      color: #969696;
      font-size: 17px;
   }
   .main-left p span{
      font-weight: bold;
      color: #545BE8;
   }
   .main-left h1 span{
      color: #545BE8;
   }
   .main-left h1{
     font-size: 70px;
     font-weight: bold;
     color: #141E32;
   }
   .main-left-btn button{   
      background-color: #545BE8;  
      color: white; 
   padding: 10px;
   padding-left: 10px;
   padding-right: 10px;
   width: 100px;
   justify-content: center;
   border: none;
   display: flex;
   align-items: center;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   }
   

   .main-left-btn{
      display: flex;
      gap: 20px;

   }
   .main-left-btn img{     
      width: 170px;
      object-fit: fill;
   }  

   .main-right img{
      width: 480px;
      object-fit: cover;
   }

.main-course{
   display: flex;
   justify-content: space-between;
   align-items: center;   
      max-width: 1000px;
      margin: 0 auto;
      padding-top: 50px;

}
.course-left{
 

}
.course-right{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 10px;
   padding: 10px;
   height: 100%;
   
}
.course-right-pt{
   background-color: #545BE8;
   padding: 1.5rem;
   margin: 1rem;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   color: white;
}
.course-right-cc{
   background-color: #545BE8;
   padding: 1.5rem;
   margin: 1rem;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   color: white;
}
.course-right-il{
   background-color: #545BE8;
   padding: 1.5rem;
   margin: 1rem;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   color: white;
}
.pt{
   background-color: white;
   border-radius: 100% ;
   -webkit-border-radius: 100% ;
   -moz-border-radius: 100% ;
   -ms-border-radius: 100% ;
   -o-border-radius: 100% ;
}
.arrow{
   display: flex;
   justify-content: space-between;
   align-items: center;   
      max-width: 1000px;
      margin: 0 auto ;
    
}
.arrow-btn{
   margin-left: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;   
   gap: 10px;
}

.selected-section-wrapper{
background-image: linear-gradient(#545BE8,#272DB0);
}
.selected-section{
   display: flex;
   max-width: 1000px;
   margin: 0 auto;
   padding-top: 20px;

   gap: 50px;

}
.selected-left {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-top: 20px;
}

.selected-left-content{
   height: 280px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding-top: 20px;
}

.selected-left p:first-child{
   color: yellow;
}

.selected-left p:nth-child(3){
   color: grey;
   font-size: 17px;
}

.selected-left h1{
  font-size: 50px;
  font-weight: bold;
  color: whitesmoke;
}
.selected-left-btn button{   
   background-color: #545BE8;  
   color: white; 
padding: 10px;
padding-left: 10px;
padding-right: 10px;
width: 100px;
justify-content: center;
border: none;
display: flex;
align-items: center;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
}


.selected-left-detail{
   display: flex;
   color: whitesmoke;
   justify-content: space-between;
   gap: 20px;


}
.selected-left-btn img{     
   width: 170px;
   object-fit: fill;
}  

.selected-right img{
   width: 500px;
   object-fit: cover;
}

.wrapper-available-course {
   background-color: #FFFFFF;
   padding-bottom: 100px;
   padding-top: 45px;
}

.course-selection {
   width: 1000px;
   margin: 0 auto;
   display: flex;
   gap: 35px;
}

.left-course-selection {
   display: flex;
   flex-wrap: wrap;
   gap: 45px;
   flex: 2;
}

.card-course {
   width: 290px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   position: relative;
}

.card-course img {
   width: 290px;
}

.card-title {
   color: #141E32;
   padding-top: 10px;
   padding-left: 15px;
   padding-right: 15px;
   display: flex;
   justify-content: space-between;
}

.card-title p:nth-child(2){
   cursor: pointer;
   color:#545BE8;
   font-size: small;
}

.card-title h3 {
   font-weight: bold;
}

.card-sub-title {
   display: flex;
   font-size: small;
   gap: 10px;
   color: #969696;
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 15px;
}

.label-course {
   position: absolute;
   top: 15px;
   left: 0;
   background-color: #545BE8;
   color: #FFFFFF;
   padding: 10px;
}
.price-card {
   font-size: 17px;
   font-weight: bold;
   position: absolute;
   bottom: 95px;
   right: 15px;
   color: #FFFFFF;
   z-index: 1;
}

.gradient-black{
   position: absolute;
   height: 65px;
   width: 100%;
   bottom: 76px;
   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.911));
}


.right-course-selection {
   display: flex;
   flex: 1;
   gap: 20px;
   flex-direction: column;
}

.right-course-selection p:first-child{
   color: #484fdd;
   font-size: 17px;
}

.right-course-selection h2{
   font-size: 45px;
   font-weight: 800;
   color: #141E32;
}

.right-course-selection p:nth-child(3) {
   color: #969696;
}

.right-course-selection button {
   background-color: #545BE8;
   color: #FFFFFF;
   border: none;
   border-radius: 10px;
   padding: 10px;
   font-size: 17px;
   cursor: pointer;
   width: 150px;
}
.testimoni{
   height:300px;
  width:1000px;
   background-color:#FFFFFF;
  
   text-align: center;
   margin: auto;
}
.testimoni-text p:nth-child(1){
   font-family: calibri;
   font-weight:bold;
   color:#1d1c1c;
   font-size:30px;
   line-height:0px;
}

.testimoni-text{
   margin:70px 0px;
}

.testimoni-col{
   display:flex;
   justify-content:space-between;
}

.name-testimoni {
  font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 27px;
text-align: left;
}

.testimoni-1,.testimoni-2{
   flex-basis: 44%;
   border-radius: 10px;
   margin-bottom: 5%;
   text-align: left;
   background: #f4f2f4;
   padding: 25px;
   cursor: pointer;
   display: flex;
   width: 500px;
   box-shadow: 2px 2px 12px rgba(0,0,0,0.2);   
  
}



.testimoni-col img{
   height: 60px;
   margin-left: 5px;
   margin-right: 30px;
   margin-top: 20px;
   border-radius: 50%;
}

.testimoni-col p{
   padding: 0;
}

.testimoni-col h3{
   margin-top: 15px;
   text-align: left;
}

.testimoni-col .fas, .testimoni-col .far{
   color: yellow;
}
.wrap-footer {
 background: #393e46;
 height: 400px;
 width: 100%;
}

.footer-container {
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 1140px;
 height: 400px;
 gap: 50px;
}

.footer-sec-about {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 gap: 40px;
 width: 424px;
}

.footer-sec-about img {
 width: 160px;
 height: 34px;
}

.footer-sec-about p {
 font: 400 14px "poppins", sans-serif;
 color: #f4f4f4;
 line-height: 24px;
 width: 424px;
}

.footer-sec-about .footer-about-media {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 gap: 20px;
}

.footer-about-media img {
 width: 30px;
 height: 30px;
}

.footer-sec-menu {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
 gap: 40px;
 width: 550px;
}

/* change here */
.footer-sec-menu h4 {
 font: 700 18px "poppins", sans-serif;
 line-height: 27px;
 color: #f4f4f4;
 margin-bottom: 20px;
}

.footer-sec-menu .menu-1 {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 gap: 10px;
 height: 168px;
}

.footer-sec-menu a {
 font: 400 14px "poppins", sans-serif;
 line-height: 21px;
 color: #f4f4f4;
 text-decoration: none;
}

.footer-sec-menu .text-start {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 gap: 10px;
 height: 168px;
}